@font-face {
	font-family: "Calibre-Regular";
	src: url('../fonts/Calibre/Calibre-Regular.ttf') format('truetype');
}

body {
	background-color: #fff;
	font-family: "Calibre-Regular";
}

.navbar {
	background-color: #fff;
	padding: 20px; 
	font-size: 20px;
}