@font-face {
	font-family: "Calibre-Regular";
	src: url('../fonts/Calibre/Calibre-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Calibre-Semibold";
	src: url('../fonts/Calibre/Calibre-Semibold.ttf') format('truetype');
}


body {
	background-color: #fff;
	font-family: "Calibre-Regular";
}

.navbar {
	background-color: #fff;
	padding: 20px; 
	font-size: 16px;
	font-family: "Calibre-Semibold";
}

.story {

	background-color: #2b3543;
	color: #fff;
	text-align: center;
	left: 0;
	bottom: 0;
	padding: 10px;
	margin: 0;
	padding-bottom: 0;
}

.