@font-face {
	font-family: "Calibre-Regular";
	src: url('../fonts/Calibre/Calibre-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Calibre-Semibold";
	src: url('../fonts/Calibre/Calibre-Semibold.ttf') format('truetype');
}


body {
	background-color: #fff;
	font-family: "Calibre-Regular";
}

.navbar {
	background-color: #000;
	color: #fff !important; 
	padding: 20px; 
	font-size: 16px;
	font-family: "Calibre-Semibold";
}

.nav-link {
	color: #fff !important;
}

.story {

	background-color: #2b3543;
	color: #fff;
	text-align: center;
	left: 0;
	bottom: 0;
	align-items: center;
	padding: 10px
}

.bg-skorange {
	background-color: #ff654a;
}

.rounded-4px {
	border-radius: 4px;
}

.px-5px {
	padding-left: 5px;
	padding-right: 5px;
}

.tracking-1h-px {
	letter-spacing: 1.5px;
}

.font-semibold {
	font-weight: 600;
}

.text-18px {
	font-size: 18px;
}

.py-5px {
	padding-top: 5px;

}

.no-margin {
	margin-bottom:  0;
}

.text-12px {
	font-size: 12px;
}

.mr-8px {
	margin-right: 8px;
}

.text-16px {
	font-size: 16px;
}

.navbar {
	margin-bottom: 1px;
	padding-top: 0;
	padding-bottom: 0;

}

.nav-item {
	display: inline-block;
	height: 75px;
	padding-top: 20px;
	color: black;
}

.nav-item:hover {
	border-bottom: 6px solid #ff654a;
	color: #ff654a;
	margin: 0;
}

.navbar-brand {
	color: #ff654a;
}

.nav-link {
	color: #2b3543;
	margin: 0;
}


.nav-link:hover {
	color: #ff654a;
	margin: 0;
}



.text-skgray {
	color: #2b3543;
}

.text-skorange {
	color: #ff654a !important;
}

.border-2 {
	border-width: 2px;
}

.border-skorange {
	border-color: #ff654a;
}

.py-13px {
	padding-top: 13px;
	padding-bottom: 13px;
}

.rounded-10px {
	border-radius: 10px;
}

.border-skorange-outline {

}

.lg\:py-13px{
	padding-top: 13px;
	padding-bottom: 13px;
}

.lg\:py-25px {
	padding-left: 25px;
	padding-right: 25px;
}

.py-top-10px {
	padding-top: 10px;
}

.text-16px {
	font-size: 16px;
}

.uppercase {
	text-transform: uppercase;
}

.tracking-2px {
	letter-spacing: 2px;
}

.text-20px {
	font-size: 20px;
}

.login {
	border: 2px solid #ff654a;
	padding-left: 25px;
	padding-right: 25px;
}

.login:hover {
	background-color: #ff654a;
	color: #fff !important;
}

.signup {
	border: 2px solid #ff654a;
	background-color: #ff654a;
	padding-left: 25px;
	padding-right: 25px;
}

.signup:hover {
	background-color: #cc503b;
}

.text-headline {
	font-size: 48px;
	line-height: 48px;
	letter-spacing: -1px;
	font-weight: 600;
}

.pt-8 {
	padding-top: 2rem;
}

.max-w-780px {
	max-width: 780px;
}

.lg\:mt-15px {
	margin-top: 15px;
}

.text-body {
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0;
	font-weight: 400;
}

.md\:max-w-620px {
	max-width: 620px;
}

.md\:mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.lg\:max-w-1024px {
	max-width: 1024px;
}

.lg\:mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.lg\:flex {
	display: flex;
}

.lg\:px-35px {
	padding-left: 35px;
	padding-right: 35px;
}

.mt-16px {
	margin-top: 16px;
}

.text-sub {
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
}

.text-small {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0;
	font-weight: 400;
}

.text-light {
	color: #7c8693;
}

.mt-25px {
	margin-top: 25px;
}

.list-disc {
	list-style: disc;
}

.ml-20px {
	margin-left: 20px;
}

.mt-15px {
	margin-top: 15px;
}

ul {
	margin: 0;
}

.bg-skgray-300 {
	background-color: #f3f4f8;
}

.lg\:mx-25px- {
	margin-left: -25px;
	margin-right: -25px;
}

a, a:hover {
	color: #fff;
	text-decoration: none;
}


.lg\:mx-35px- {
	margin-left: -35px;
	margin-right: -35px;
}

.flex {
	display: flex;
}

.w-1\/2 {
	width: 50%;
}

.ml-25px {
	margin-left: 25px;
}

.text-caps {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2px;
	font-weight: 600;
	text-transform: uppercase;
}


.py-15px {
	padding-top: 15px;
	padding-bottom: 15px;
}

.py-35px {
	padding-top: 35px;
	padding-bottom: 35px;
}

.text-mpgray {
	color: #2b3543;
}

.text-semibold {
	font-weight: 600;
}

.text-23px {
	font-size: 23px;
}

.voting-icon {
	width: 30vh;
	height: 30vh;
	cursor: pointer;
	box-shadow: 10px 10px 5px #aaaaaa;
	border-radius: 50%;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.text-random-light {
	color: #7c8693;
}
.random-div-title-description {
	max-width: 620px;
}

.story-ended\? {
	padding: 40px;
	display: flex;
}

.bg-mpblue {
	background-color: #4f9cfb;
}

.story-ended-margin {
	margin-top: 50px;
	margin-left:  20%;
	margin-right: 20%;
	margin-bottom: 25px;
}

.br-20px {
	border-radius: 20px;
}

.text-mpblue-500 {
	color: #c9e2fd;
}


.bg-msblue-600 {
	background-color: #3d7bcc; 
}

.mt-20px {
	margin-top: 20px;
}

.br-10px {
	border-radius: 10px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #2b3543;
}

.mp-input-fancy {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom:  2px solid #2b3543;
	border-radius: 0;
}

.vh-50 {
	width: 50vh;
}

.login-form-btn {
	border: 2px solid #2b3543;
	padding-left: 25px;
	padding-right: 25px;
}

.login-form-btn:hover {
	color: #fff !important;
	border: 2px solid #2b3543;
	padding-left: 25px;
	background-color: #2b3543;
	padding-right: 25px;
}


.rounded-30px {
	border-radius: 30px;
}

.bg-deepblue {
	background-color: #2b3543;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-width: 1px;
  	border-color: #fff;
} 

